.gallary {
  &--container {
    display: flex;
    overflow-x: scroll;
    @media (min-width: 680px) {
      display: grid;
      grid-template:
        "top top top"
        "center center center"
        "bottom bottom bottom";
    }
  }
}
