.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  // background-image: linear-gradient(
  //     45deg,
  //     rgba(0, 0, 0, 0.329),
  //     rgba(0, 0, 0, 0.459)
  //   ),
  //   url("../../assets/images/header_01.jpg");
  // background-position: center;
  // background-size: cover;

  &--main {
    height: 400px;
    width: 300px;
    margin: auto;
    background-color: lightblue;
    &--title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      font-size: 8vw;
      color: white;
      z-index: 1;
      &--text {
        color: white;
      }
    }
  }

  &--wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    &--block {
      position: relative;
      top: 0;
      left: 0;
      width: 5vw;
      height: 5vh;
      // background-color: red;
      animation: animate 0.75s ease-in-out forwards;
    }
    &--block:nth-child(even) {
      animation: animate 1s ease-in-out forwards;
    }
    &--block:nth-child(7n + 3) {
      animation: animate 2.5s ease-in-out forwards;
    }
    &--block:nth-child(7n + 7) {
      animation: animate 1.5s ease-in-out forwards;
    }
    @keyframes animate {
      0% {
        opacity: 0;
        transform: scale(0) translateY(1000px);
      }
      50% {
        opacity: 1;
        background: url(https://source.unsplash.com/1600x900/?agriculture);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
      100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
        background: url(https://source.unsplash.com/1600x900/?agriculture);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
      }
    }
  }
}
