.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 5vw;
  position: fixed;
  z-index: 12;
  @include glass-design;
  &--logo {
    &--image {
      width: 100px;
      transition: all 0.2s linear;
    }
    &--image:hover {
      transform: scale(1.1) translateY(-2px);
    }
  }
  &--menu {
  }
  &--items {
    &--item {
      margin: 4rem 0;
      font-size: 1.5rem;
      color: $color-black;
      // text-align: center;
      text-transform: uppercase;

      a {
        color: $color-black;
        transition: all 0.2s linear;
      }
      a:hover {
        color: red;
      }
    }
  }
  &--menuIcon,
  &--closeIcon {
    color: $color-black;
    font-size: 3rem;
    cursor: pointer;
    i {
      transition: all 0.2s linear;
    }
    i:hover {
      transform: scale(1.1) translateY(-2px);
    }
  }
}

.backScreen {
  height: inherit;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  filter: blur(2px);
  position: fixed;
  z-index: 11;
}

.open {
  display: block;
}

.close {
  display: none;
}

@media (min-width: 800px) {
  .nav {
    &--menu {
      display: block;
    }
    &--items {
      display: flex;
      &--item {
        margin: 2rem 0;
      }
      &--item:not(:last-of-type) {
        margin-right: 1rem;
      }
      a {
        color: $color-black;
        background: $color-btn-linear-background;
        padding: 0.5rem 1rem;
        border: 1px solid $color-primary-dark;
        border-radius: $border-primary-radius;
        transition: all 0.2s linear;
      }
      a:hover {
        color: $color-primary-dark;
        background: $color-white;
      }
    }
    &--menuIcon {
      display: none;
    }
  }
}
