.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  /* height: 5rem; */
  padding: 0 5vw;
  color: black;
  background-color: white;
  position: fixed;
  z-index: 12;
  &--logo {
    &--text {
      color: black;
      font-size: 2rem;
    }
  }
  &--menu {
  }
  &--items {
    &--item {
      margin: 0.3rem 0;
      font-size: 1.5rem;
      color: black;
      font-family: "Times New Roman", Times, serif;
      text-align: center;
      text-transform: uppercase;
      a {
        color: black;
      }
    }
  }
  &--menuIcon,
  &--closeIcon {
    font-size: 2rem;
    cursor: pointer;
    i {
      transition: all 0.2s linear;
    }
    i:hover {
      transform: scale(1.1) translateY(-2px);
    }
  }
}

.backScreen {
  height: inherit;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.788);
  position: fixed;
  z-index: 11;
}

.open {
  display: block;
}

.close {
  display: none;
}

@media (min-width: 800px) {
  .nav {
    &--menu {
      display: block;
    }
    &--items {
      display: flex;
      &--item:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
    &--menuIcon {
      display: none;
    }
  }
}
