.profile-edit {
  position: relative;
  height: 100vh;

  &--container {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $app-body-background;
  }

  &--card {
    width: 350px;
    height: 450px;
    background-color: $app-card-background;
    box-shadow: 2px 2px 6px rgba($color-black, 0.2);
    input[type="text"] {
      width: 90%;
      font-size: 1.5rem;
      margin: 1rem 0;
      padding: 0.5rem;
      outline: none;
      border: 1px solid $app-middle-background;
      font-family: "Josefin Sans", sans-serif;
    }
  }

  &--header {
    width: 100%;
    height: calc(100% / 6 * 4);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      padding: 0 3.5rem;
    }
  }

  &--title {
    font-weight: 300;
    padding-bottom: 0.5rem;
  }

  &--middle {
    width: 100%;
    height: calc(100% / 6 * 1);
    background-color: $app-middle-background;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

  &--footer {
    @include app-card-footer-button;
  }
}
