.btn {
  color: $color-black;
  background-color: $color-primary-dark;
  font-size: 1.2rem;
  padding: 0.2rem 1.5rem;
  border: 0;
  outline: none;
  border-radius: $border-primary-radius;
  cursor: pointer;
}
