.auth {
  position: relative;
  height: calc(100vh + 300px);
  background: linear-gradient(
      to bottom right,
      rgba($color-black, 0.5),
      rgba($color-black, 0.6)
    ),
    url("../../../assets/images/auth/background.jpg");
  background-position: center;
  background-size: cover;

  &--main {
    position: relative;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--container {
    width: 80vw;
    margin-top: 150px;
    display: flex;
    &--image {
      img {
        display: none;
        width: 100%;
        height: 100%;
        border-radius: $border-primary-radius;
        object-fit: cover;
      }
    }
    &--form {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--error {
        position: absolute;
        color: rgb(220, 0, 0);
        background-color: $color-white;
        transform: translateY(-48px);
      }
      &--title {
        color: $color-white;
        font-size: 2.5rem;
        margin-bottom: 4rem;
        text-transform: capitalize;
        font-style: italic;
      }
      &--content {
        position: relative;
        margin-bottom: 3rem;
        input {
          width: 100%;
          font-size: 1.5rem;
          background: transparent;
          outline: none;
          border: none;
          padding-bottom: 0.2rem;
          border-bottom: 2px solid $color-white;
          &:focus ~ span,
          &:valid ~ span {
            transform: translateY(-24px);
            color: rgb(220, 0, 0);
          }
        }
        input[type="submit"] {
          width: auto;
          color: $color-white;
          padding: 0.5rem 1rem;
          border-radius: 0.2rem;
          border: 1px solid $color-white;
          cursor: pointer;
          transition: all 0.2s linear;
          &:hover {
            color: $color-black;
            background-color: $color-white;
          }
        }
        span {
          position: absolute;
          left: 0;
          font-size: 1.2rem;
          letter-spacing: 1px;
          color: $color-black;
          font-family: $font-family-form;
          pointer-events: none;
          transition: all 0.2s linear;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  .card {
    height: initial;
    margin: initial;
    &:hover {
      transform: translateY(0);
    }
  }
}
@media (min-width: $media-query-size-md) {
  .auth {
    height: 100vh;
    &--main {
      height: inherit;
      padding-top: initial;
    }
    &--container {
      &--image {
        flex: 1;
        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: $border-primary-radius;
          object-fit: cover;
        }
      }
    }
  }
}
