/* glass design */
@mixin glass-design {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

@mixin section-basic {
  color: $color-black;
  padding: $section-padding;
  background: $color-section-linear-background;
}

@mixin subtitle-underline {
  content: "";
  height: 2px;
  width: 20vw;
  display: block;
  margin: 1rem auto 2rem auto;
  background-color: $color-underline-red;
}

@mixin subtitle-format {
  text-align: center;
  text-transform: uppercase;
  font-size: $section-title-font-size;
}
