/* color */
$color-white: #fff;
$color-black: #333;

$color-primary: rgb(230, 255, 160);
$color-primary-light: rgb(248, 255, 228);
$color-primary-dark: rgb(216, 255, 110);

$color-section-linear-background: linear-gradient(
  to bottom,
  $color-primary-light,
  $color-primary
);

$color-btn-linear-background: linear-gradient(
  to bottom right,
  $color-primary-light,
  $color-primary
);

$section-primay-background-color: linear-gradient(
  to bottom right,
  rgb(70, 70, 70),
  rgb(50, 50, 50)
);
$section-secondary-background-color: linear-gradient(
  to bottom right,
  rgb(70, 70, 70),
  rgb(50, 50, 50)
);

/* padding, margin */
$navbar-padding: 0 5vw;
$section-padding: 4rem 5vw;

/* font size */
// $section-title-font-size: 2.4rem;
$section-title-font-size: 6vw;

/* border-radius */
$border-primary-radius: 0.5rem;
$border-form-radius: 0.3rem;

/* font-family */
$font-family-nav-btn-link: "Crimson Text", serif;
$font-family-form: "Times New Roman", Times, serif;

/* image url */
$random-images-url: "https://source.unsplash.com/1600x900/?agriculture";

/* sm:gallary  md:navbar, mobile, authForm */
$media-query-size-sm: 680px;
$media-query-size-md: 800px;
