/* Common */
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";
@import "base/typography";

@import "components/cards";
@import "components/buttons";

@import "layout/navbar";
@import "layout/footer";

/* Landing page */
@import "pages/landing/header";
@import "pages/landing/feature";
@import "pages/landing/movie";
@import "pages/landing/mobile";
@import "pages/landing/gallary";
@import "pages/landing/contact";

/* Signup/in pages */
@import "pages/auth/form";

/* App pages */
@import "pages/appPages/dashboard";
@import "pages/appPages/post";
@import "pages/appPages/profile";
@import "pages/appPages/profileEdit";
