.contact {
  @include section-basic;
  &--title {
    h2 {
      text-align: center;
      font-size: $section-title-font-size;
      text-transform: uppercase;
    }
  }
  &--content {
    .card {
      min-width: 300px;
      max-width: 680px;
      width: auto;
    }
    .card:hover {
      transform: none;
    }
  }
  &--form {
    &--group {
      margin: 1rem;
    }
    &--label {
      font-size: 1.5rem;
    }
    &--text-field input,
    &--text-field textarea {
      width: 100%;
      font-size: 1.2rem;
      outline: none;
      border: 0;
      border-radius: 0.2rem;
      padding: 0.2rem;
      resize: none;
    }
    &--btn-field {
      text-align: center;
    }
  }
}
