.contact {
  @include section-basic;
  &--title {
    h2 {
      text-align: center;
      font-size: $section-title-font-size;
      text-transform: uppercase;
    }
  }
  &--content {
    .card {
      height: auto;
      min-width: 300px;
      max-width: 680px;
      width: auto;
      &:hover {
        transform: none;
        &::before {
          transform: skew(45deg) translateX(-300px);
        }
      }
      &::before {
        background-color: rgba(255, 255, 255, 0.5);
        transform: skew(45deg) translateX(850px);
      }
    }
  }
  &--form {
    &--group {
      margin: 1rem;
    }
    &--label {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      text-transform: capitalize;
    }
    &--text--field input,
    &--text--field textarea {
      width: 100%;
      font-size: 1.2rem;
      outline: none;
      border: 0;
      border-radius: 0.2rem;
      padding: 0.2rem;
      resize: none;
    }
    &--btn--field {
      display: flex;
      justify-content: center;
      align-items: center;

      input[type="submit"] {
        width: 40%;
        font-size: 1.4rem;
        font-family: $font-family-form;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-black;
        padding: 0.5rem 1rem;
        border-radius: 0.2rem;
        border: 1px solid $color-white;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.1);
          background-color: $color-white;
        }
      }
    }
  }
}
