.feature {
  @include section-basic;
  &--title {
    h2 {
      @include subtitle-format;
      &::after {
        @include subtitle-underline;
      }
    }
    p {
      margin: 1rem;
    }
    @media (min-width: $media-query-size-md) {
      h2 {
        font-size: 5vw;
      }
    }
  }
  &--content {
    display: flex;
    flex-wrap: wrap;
    &--title {
      text-align: center;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
  }
}
