.header {
  position: relative;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2021/02/06/14/24/lavanttal-5988332__480.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  &--main {
    height: 400px;
    width: 300px;
    margin: auto;
    &--title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      font-size: 6vw;
      z-index: 1;
      &--text {
        color: $color-white;
        text-transform: uppercase;
      }
    }
  }
  // &--wrap {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: flex;
  //   flex-wrap: wrap;
  //   background-color: $color-black;

  //   &--block {
  //     position: relative;
  //     top: 0;
  //     left: 0;
  //     width: 5vw;
  //     height: 5vh;
  //     background-size: cover;
  //     background-position: center;
  //     background-attachment: fixed;
  //     animation: animate 0.75s ease-in-out forwards;
  //   }
  //   &--block:nth-child(even) {
  //     animation: animate 1s ease-in-out forwards;
  //   }
  //   &--block:nth-child(7n + 3) {
  //     animation: animate 2.5s ease-in-out forwards;
  //   }
  //   &--block:nth-child(7n + 7) {
  //     animation: animate 1.5s ease-in-out forwards;
  //   }
  //   @keyframes animate {
  //     0% {
  //       opacity: 0;
  //       transform: scale(0) translateY(1000px);
  //       background-color: $color-white;
  //     }
  //     50% {
  //       opacity: 1;
  //       // background: url("../../../assets/images/header.jpg");
  //       background: url($random-images-url);
  //       background-size: cover;
  //       background-position: center;
  //       background-attachment: fixed;
  //     }
  //     100% {
  //       opacity: 1;
  //       transform: scale(1) translateY(0px);
  //       // background: url("../../../assets/images/header.jpg");
  //       background: url($random-images-url);
  //       background-size: cover;
  //       background-position: center;
  //       background-attachment: fixed;
  //     }
  //   }
  // }
}
