.movie {
  height: 50vh;
  background-color: $color-black;

  &--container {
    width: 100%;
    height: inherit;
    &--box {
      position: absolute;
      width: 100%;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 1s;
      &--01 {
        clip-path: polygon(0 0, 40% 0, 20% 100%, 0 100%);
        &:hover {
          z-index: 10;
        }
      }
      &--02 {
        clip-path: polygon(40% 0, 50% 0, 80% 100%, 20% 100%);
        &:hover {
          z-index: 10;
        }
      }
      &--03 {
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 80% 100%);
        &:hover {
          z-index: 10;
        }
      }

      &--active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        z-index: 1;
        transition: 1s;
      }
      video {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        color: rgba($color-white, 0.5);
        font-size: 3rem;
      }
    }
  }
}
