* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden; // For mobile device
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

input[type="text"],
input[type="email"],
textarea,
label {
  font-family: $font-family-form;
  letter-spacing: 0.1rem;
}

input[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0;
}
