* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-family: "Crimson Text", serif;
}

p {
  line-height: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}
